<a href="https://colab.research.google.com/github/naranjitoct/UPCT_IA_2022/blob/main/00_Data_Wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. Let's begin !!

## Importing libraries and mounting Drive unit

In [2]:
import pandas as pd
import numpy as np


from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

## Extracting data from CSV files

In [3]:
data_drink=pd.read_csv('/content/drive/MyDrive/IA2022/00_TrabajoIA/DW/drinks.csv')
data2_life=pd.read_csv('/content/drive/MyDrive/IA2022/00_TrabajoIA/DW/lifeexpectancy.csv')

# Analyzing the data

## ✅ Let's take a look to the table

In [4]:
data_drink.shape

(193, 5)

In [5]:
data_drink.head(15)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,NaN
1,Albania,89,132,54,NaN
2,Algeria,25,0,14,NaN
3,Andorra,245,138,312,NaN
4,Angola,217,57,45,NaN
5,Antigua & Barbuda,102,128,45,NaN
6,Argentina,193,25,221,NaN
7,Armenia,21,179,11,NaN
8,Australia,261,72,212,NaN
9,Austria,279,75,191,NaN
10,Azerbaijan,21,46,5,NaN
11,Bahamas,122,176,?,NaN
12,Bahrain,42,63,7,NaN
13,Bangladesh,0,0,0,NaN
14,Barbados,143,173,36,NaN

In [6]:
data_drink.info() #Something strange... Dtype is an object ... not a number for columns !=0.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    object
 2   spirit_servings               193 non-null    object
 3   wine_servings                 193 non-null    object
 4   total_litres_of_pure_alcohol  0 non-null      float64
dtypes: float64(1), object(4)
memory usage: 7.7+ KB

## ✅ Looking for nulls and Not A Number... No result... (somehting weird...)

In [7]:
pd.isnull(data_drink).sum()

country                           0
beer_servings                     0
spirit_servings                   0
wine_servings                     0
total_litres_of_pure_alcohol    193
dtype: int64

In [8]:
pd.isna(data_drink).sum()

country                           0
beer_servings                     0
spirit_servings                   0
wine_servings                     0
total_litres_of_pure_alcohol    193
dtype: int64

## ❗ FAILURE !!! .... Character '?' has been used instead of blanks, nulls ...

In [ ]:
# Error when trying to cast from string to float. Message notices '?' character
data_drink.beer_servings = data_drink.beer_servings.astype(float)

SIDE NOTE (to remember):

>> **loc** is based on columns name

> >**iloc** similar but based on column ID (from 0)

pandas.Series.str.contains

 Test if pattern or regex (Regular expresion) is contained within a string of a Series or Index.

  regexbool, default True

  > If True, assumes the pat is a regular expression.

  > If False, treats the pat as a literal string.

 
 These are examples that clarify this REGular EXpresion concept

data_drink.loc[data_drink['beer_servings'].str.contains('11?49', regex=False)] 

data_drink.loc[data_drink['beer_servings'].str.contains('11?49', regex=True)]

In [10]:
data_drink.loc[data_drink['beer_servings'].str.contains('?', regex=False)]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
99,Macedonia,?,27,86,NaN

In [11]:
data_drink.loc[data_drink['spirit_servings'].str.contains('?', regex=False)]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
46,Denmark,224,?,278,NaN

In [12]:
data_drink.loc[data_drink['wine_servings'].str.contains('?', regex=False)]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
11,Bahamas,122,176,?,NaN

##Replace '?' . 

What is the best approach ?

 >> #1. Using mean for the column. (I guess not so goood...

 >> #2. We could drop as they are 3 among aprox 200.... and forget about them. In this example we could lost more data in future steps.

 >> #3. Ratio Average of consum for the rest of the countries


 I will try to execute #3 as it is probably a good approach that avoid data losses and simple column average could penalize last column calculation for these 3 countries.


 Also it will combine lot of slicing, filters, ...etc. So it is also great to practice

In [13]:
df=data_drink
df = data_drink[ (data_drink['beer_servings'] != '?') & (data_drink['spirit_servings'] != '?') & (data_drink['wine_servings'] != '?')]
df.shape # Original was (193,5). Three rows will be drop (Macedonia, Denmark and Bahamas)

(190, 5)

In [15]:
# Quitamos el warning por hacer slicing.
# https://stackoverflow.com/questions/20625582/how-to-deal-with-settingwithcopywarning-in-pandas
pd.options.mode.chained_assignment = None  # default='warn'

In [16]:
# Now 3 rows with issue are dropped I could cast columns as float. 
df.beer_servings = df.beer_servings.astype(float) 
df.spirit_servings = df.spirit_servings.astype(float) 
df.wine_servings = df.wine_servings.astype(float)

In [17]:
# That's better... Float64 for our columns
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 190 entries, 0 to 192
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       190 non-null    object
 1   beer_servings                 190 non-null    float64
 2   spirit_servings               190 non-null    float64
 3   wine_servings                 190 non-null    float64
 4   total_litres_of_pure_alcohol  0 non-null      float64
dtypes: float64(4), object(1)
memory usage: 8.9+ KB

In [18]:
mean_beer=np.mean(df.beer_servings)
mean_wine=np.mean(df.wine_servings)
mean_spirit=np.mean(df.spirit_servings)
print(mean_beer)
print(mean_wine)
print(mean_spirit)

105.4578947368421
48.04736842105263
80.77894736842106

As indication of the dataframe webportal. Total_litres column should be calculated based on an alcohol graduation stimation

REFERENCE (and stimation) :

https://es.wikipedia.org/wiki/Anexo:Bebidas_alcoh%C3%B3licas_seg%C3%BAn_su_graduaci%C3%B3n


BEER : (2,5% - 20%) : 7 %  

WINE: (5,5% - 14%) : 11%

SPIRITS: (>35 %) : 50%

In [19]:
df.total_litres_of_pure_alcohol=0.07*df.beer_servings+0.11*df.spirit_servings+0.5*df.wine_servings

In [20]:
df.head(5)
df.total_litres_of_pure_alcohol

0        0.00
1       47.75
2        8.75
3      188.33
4       43.96
        ...
188     35.81
189      8.49
190      0.42
191      6.33
192      8.46
Name: total_litres_of_pure_alcohol, Length: 190, dtype: float64

In [21]:
df['tempcalc']=df['beer_servings']/(df['spirit_servings']+df['wine_servings']+df['spirit_servings'])

In [22]:
df.head(5)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,tempcalc
0,Afghanistan,0.0,0.0,0.0,0.00,NaN
1,Albania,89.0,132.0,54.0,47.75,0.279874
2,Algeria,25.0,0.0,14.0,8.75,1.785714
3,Andorra,245.0,138.0,312.0,188.33,0.416667
4,Angola,217.0,57.0,45.0,43.96,1.364780

In [23]:
df.mean['tempcalc']

TypeError: ignored